*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin:50px 150px;
    text-align: center;
    background-color: rgb(81, 51, 124);
    color: white;
    width: 80%;
}

h1{
    text-align: center;
    padding: 30px;
    background-color: rgb(255, 87, 87);
}
body{
    background-color: rgb(204, 255, 162);
}
